
NODE_ENV=development

# Database Config
DB_HOST=localhost
DB_PORT=5432
DB_NAME=territory_running_app
DB_USER=postgres
DB_PASSWORD=12345

# JWT Configss 
JWT_SECRET=your_jwt_secret_key_here_change_in_production
JWT_EXPIRE=7d

  # Application URL
APP_URL=http://localhost:3000
